@model Modelos.Usuario

@{
    ViewBag.Title = "Página inicial";
}

@using (Html.BeginForm())
{


    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <h4>Para acessar este site é necessário se logar</h4>
        <br />

        
            @Html.ActionLink("Entrar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        

        
    </div>
}


