@model IEnumerable<Aula1406.Models.Categoria>

@{
    ViewBag.Title = "Categorias";
}

@if (TempData["Mensagem"] != null)
{
    <p class="alert-info">@TempData["Mensagem"]</p>
}

<h2>@ViewBag.Title </h2>

@foreach (var item in Model)
{
    @Html.LabelFor(m => item.Nome)
    @Html.DisplayFor(m => item.Nome)
}
